// Page
$bgc : #fff;
$color : #2e2e2e;

// шрифт для заголовков
$fontCaptionRegular : "Bebas Neue", sans-serif;
$fontCaptionBook : 'Bebas Neue Book', sans-serif;

// Шрифт для текста
$fontRoboto : 'Roboto', sans-serif;
$fontRobotoCond : 'Roboto Condensed', sans-serif;

// Size font
$fontSize: 16px;
$wrapper : 1140px;


